<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quick launch Options</title>

		<link href="styles/bootstrap.min.css" rel="stylesheet">
		<link href="styles/app.css" rel="stylesheet">
	</head>
	<body ng-app="app">
		<div ng-controller="mainCtrl" class="small-margin">
			<input type="text" class="form-control medium-width" ng-model="query" ng-keyup="$event.keyCode == 13 && selectFirst(items,query)" autofocus/>
			<div class="list-group">
				<div ng-repeat="item in items | search:query" ng-click="select(item)" class="list-group-item item medium-width" ng-class="{active: $first}">
					<div >{{item.uri}}</div>
					<div class="small">{{item.tags}}</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</body>
</html>