<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quick launch Options</title>

		<link href="styles/bootstrap.min.css" rel="stylesheet">
		<link href="styles/app.css" rel="stylesheet">
	</head>
	<body ng-app="app">
		<div ng-controller="mainCtrl" class="small-margin">
			<input type="text" class="form-control medium-width" ng-model="command" ng-keyup="keyup($event.keyCode);command = ''" autofocus/>
			<div class="list-group">
				<div ng-repeat="suggestion in ql.filterSuggestions(command)" ng-click="ql.validAt($index)" class="list-group-item item medium-width" ng-class="{active: $index === ql.selectedSuggestions.index}">
					<div >{{suggestion.uri}}</div>
					<div class="small">{{suggestion.tags}}</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
		<script type="text/javascript" src="scripts/all.js"></script>
	</body>
</html>