<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Cpatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quicklaunch</title>

		<link href="styles/bootstrap.min.css" rel="stylesheet">
		<link href="styles/app.css" rel="stylesheet">
	</head>
	<body ng-app="app">
		<div ng-controller="mainCtrl" class="small-margin">
			<div suggest entry="ql.query" get-suggest='ql.getSuggest(value)'>
				<input type="text" class="form-control medium-width suggest-input" ng-model="ql.query" ng-keyup="keyup($event.keyCode)" 
				placeholder="{{browser.translate('actionSearchPlaceholder')}}"/>
			</div>
			<div class="list-group">
				<div ng-repeat="suggestion in ql.filterSuggestions(ql.query) track by $index" ng-click="ql.validAt($index)" class="list-group-item item medium-width" ng-class="{active: $index === ql.selectedSuggestions.index}">
					<div>{{suggestion.uri}}</div>
					<tags-viewer tags="suggestion.tags" pull-right="true"></tags-viewer>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="scripts/lib.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/templates.js"></script>
	</body>
</html>