<!DOCTYPE html>
<html>
	<head>
	 	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quicklaunch Options</title>

		<link href="styles/bootstrap.min.css" rel="stylesheet">
		<link href="styles/app.css" rel="stylesheet">
	</head>
	<body ng-app="app">
		<div ng-controller="optionsCtrl" class="container">  
			
			<ul class="nav nav-tabs small-vertical-margin">
				<li ng-class="{active: currentTab == 'tabItems'}">
					<a href="#" ng-click="currentTab = 'tabItems'">Suggestions</a>
				</li>
				<li ng-class="{active: currentTab == 'tabExport'}">
					<a href="#" ng-click="currentTab = 'tabExport'">Export</a>
				</li>
				<li ng-class="{active: currentTab == 'tabImport'}">
					<a href="#" ng-click="currentTab = 'tabImport'">Import</a>
				</li>
				<li ng-class="{active: currentTab == 'tabHelp'}">
					<a href="#" ng-click="currentTab = 'tabHelp'">Help</a>
				</li>
			</ul>

			<div ng-switch="currentTab">
				<div ng-switch-when="tabItems">
					
					<div class="row">
						<div class="col-xs-6">
							<input class="form-control" type="text" ng-model="newItem.uri" placeholder="Uri"/>
						</div>
						 <div class="col-xs-5">
							<input class="form-control" type="text" ng-model="newItem.tags" placeholder="Tags (space separator)" />
						</div>
						<div class="col-xs-1">
							<button ng-click="ql.suggestions.add(newItem);clearInput(newItem)" class="btn btn-primary pull-right">Add</button>
						</div>
					</div>

					<br/>
					<div class="clearfix"></div>
					<br/>

					<div class="row">
						<div class="col-xs-12">
							<input class="form-control" type="text" ng-model="q" placeholder="Search"/>
						</div>
					</div>
					
					<br/>
					<div class="list-group">
						<div ng-repeat="suggestion in ql.suggestions.all | filter:q track by ql.identity(suggestion)" class="list-group-item">
							<div class="row" ng-init="currentMode = 'view'">
								<div ng-switch="currentMode">

									<div ng-switch-when="edit">

										<div class="col-xs-6"><input class="form-control" type="text" ng-model="suggestion.uri" placeholder="Uri" /></div>
										<div class="col-xs-5"><input class="form-control" type="text" ng-model="suggestion.tags" placeholder="Tag" /></div>
										<div class="col-xs-1">
											<button ng-click="ql.suggestions.save();$parent.currentMode = 'view'" class="btn btn-success pull-right">Save</button>
										</div>

									</div>
									<div ng-switch-when="view">

										<div class="col-xs-6">{{suggestion.uri}}</div>
										<div class="col-xs-4">
											<div tags source="suggestion.tags" right="false"></div>
										</div>
										<div class="col-xs-1">
											<button ng-click="$parent.currentMode = 'edit'" class="btn btn-primary pull-right">Edit</button>
										</div>
										<div class="col-xs-1">
											<button ng-click="ql.suggestions.remove(suggestion)" class="btn btn-danger pull-right">Delete</button>
										</div>

									</div>

								</div>
							</div>
						</div>
						<div class="no-items text-center">
					     	<b>No suggestion yet :(</b>
					    </div>
					</div>

				</div>
				<div ng-switch-when="tabExport">

					<div class="form-group">
						<textarea class="form-control medium-height" ng-model="exportResult"></textarea>
					</div>
					<div class="row">
						<div class="col-xs-1  col-xs-offset-5">
							<button ng-click="exportResult = ql.suggestions.exportAll()" class="btn btn-success center-block" >Export</button>
						</div>
					</div>

				</div>
				<div ng-switch-when="tabImport">

					<div class="form-group">
						<textarea  class="form-control medium-height" ng-model="importInput"></textarea>
					</div>
					<div class="row">
						<div class="col-xs-1  col-xs-offset-5">
							<button ng-click="ql.suggestions.importAll(importInput);importInput = '';$parent.currentTab = 'tabItems'" class="btn btn-success center-block" >Import</button>
						</div>
					</div>

				</div>

				<div ng-switch-when="tabHelp">
					<h2>Usage:</h2>
					<div class="row">
						<div class="col-xs-12">
						To begin, press Ctrl+Shift+F to display the quicklaunch search bar. Now you can start typing some tags to display a list of filtered uri. After that, use the arrow keys in order to quickly navigate through the list of suggestions and the enter key to select a suggestion.
						</div>
					</div>
					<div class="row">
						<img class="col-xs-offset-1 col-xs-10 small-vertical-margin" src="/img/demo.gif" />
					</div>
					<div class="row">
						<div class="col-xs-12">
						But how can I manage my suggestions? Go to the options page or use directly the quicklaunch search bar and the special commands.
						</div>
					</div>
					<h2>Special commands:</h2>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:qs=[PARAMS]</b>
						</div>
						<div class="col-xs-9">
							Open the selected suggestion and append the query string to the uri.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:priv</b>
						</div>
						<div class="col-xs-9">
							Open the selected suggestion in a new private tab.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:edit [OPTIONAL TAGS]</b>
						</div>
						<div class="col-xs-9">
							Open the options page and show the suggestions tab with a filter. By default, the filter is the uri of the current tab. You can also select a custom suggestion to edit by specifying tags.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:add [TAGS]</b>
						</div>
						<div class="col-xs-9">
							Add the uri of the current tab as a suggestion with the tags passed in parameters.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:settings</b>
						</div>
						<div class="col-xs-9">
							Open the options page and show the suggestions tab.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:help</b>
						</div>
						<div class="col-xs-9">
							Open the options page and show the help tab.
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="scripts/vendors/angular.min.js"></script>
		<script type="text/javascript" src="scripts/all.js"></script>
	</body>
</html>