<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{browser.translate('appName')}}</title>

		<link href="styles/bootstrap.min.css" rel="stylesheet">
		<link href="styles/app.css" rel="stylesheet">
	</head>
	<body ng-app="app">
		<div ng-controller="optionsCtrl" class="container">  
			
			<div class="btn-group pull-right small-top-vertical-margin" dropdown dropdown-append-to-body>
				<button type="button" class="btn btn-default" dropdown-toggle>
					<span class="glyphicon glyphicon-option-vertical"></span>
				</button>

				<ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
			 		<li role="menuitem">
			 			<a href="#" ng-click="">Export suggestions</a>
			 		</li>
			    	<li role="menuitem">
			    		<a href="#" ng-click="">Import suggestions</a>
			    	</li>
			    	<li role="menuitem">
			    		<a href="#" ng-click="">Import bookmarks</a>
			    	</li>
			 	</ul>
			</div>

			<tabset class="small-top-vertical-margin">
				<tab heading="Suggestions" active="suggestionsTabIsActive">
					<div class="row small-top-vertical-margin">
						<div class="col-xs-6">
							<input class="form-control" type="text" ng-model="newSuggestion.uri" placeholder="Uri"/>
						</div>
						 <div class="col-xs-5">
							<tags-editor tags="newSuggestion.tags"></tags-editor>
						</div>
						<div class="col-xs-1">
							<button ng-disabled="!newSuggestion.uri || newSuggestion.uri.length === 0" ng-click="ql.suggestions.add(newSuggestion);clearSuggestion(newSuggestion)" class="btn btn-primary pull-right">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</div>
					</div>

					<div class="small-vertical-margin clearfix"></div>

					<div class="row">
						<div class="col-xs-12">
							<input class="form-control" type="text" ng-model="q" placeholder="Search"/>
						</div>
					</div>
					
					<div class="list-group small-vertical-margin">
						<div ng-repeat="suggestion in ql.suggestions.all | filter:q track by suggestion.uri" class="list-group-item">
							<div class="row" ng-init="currentMode = 'view'">
								<div ng-switch="currentMode">

									<div ng-switch-when="edit">

										<div class="col-xs-6">{{suggestion.uri}}</div>
										<div class="col-xs-5">
											<tags-editor tags="suggestion.tags"></tags-editor>
										</div>
										<div class="col-xs-1">
											<button ng-click="ql.suggestions.save();$parent.currentMode = 'view'" class="btn btn-success pull-right">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</div>

									</div>
									<div ng-switch-when="view">

										<div class="col-xs-6">{{suggestion.uri}}</div>
										<div class="col-xs-4">
											<tags-viewer tags="suggestion.tags" pull-right="false">
										</div>
										<div class="col-xs-2">
											<button ng-click="ql.suggestions.remove(suggestion)" class="btn btn-danger pull-right indent-left">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											<button ng-click="$parent.currentMode = 'edit'" class="btn btn-primary pull-right">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</button>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="no-items text-center">
					     	<b>No suggestion yet :(</b>
					    </div>
					</div>
				</tab>
				<tab heading="Help" active="helpTabIsActive">
					<h2>Usage:</h2>
					<div class="row">
						<div class="col-xs-12">
						To begin, press Ctrl+Shift+F to display the quicklaunch search bar. Now you can start typing some tags to display a list of filtered uri. After that, use the arrow keys in order to quickly navigate through the list of suggestions and the enter key to select a suggestion.
						</div>
					</div>
					<div class="row">
						<img class="col-xs-offset-1 col-xs-10 small-vertical-margin" src="/img/demo.gif" />
					</div>
					<div class="row">
						<div class="col-xs-12">
						But how can I manage my suggestions? Go to the options page or use directly the quicklaunch search bar and the special commands.
						</div>
					</div>
					<h2>Special commands:</h2>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:qs=[PARAMS]</b>
						</div>
						<div class="col-xs-9">
							Open the selected suggestion and append the query string to the uri.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:priv</b>
						</div>
						<div class="col-xs-9">
							Open the selected suggestion in a new private tab.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:all</b>
						</div>
						<div class="col-xs-9">
							Open all suggestions matching tags in a new window.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:edit [OPTIONAL TAGS]</b>
						</div>
						<div class="col-xs-9">
							Open the options page and show the suggestions tab with a filter. By default, the filter is the uri of the current tab. You can also select a custom suggestion to edit by specifying tags.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:add [TAGS]</b>
						</div>
						<div class="col-xs-9">
							Add the uri of the current tab as a suggestion with the tags passed in parameters.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:settings</b>
						</div>
						<div class="col-xs-9">
							Open the options page and show the suggestions tab.
						</div>
					</div>
					<div class="row small-vertical-margin">
						<div class="col-xs-3">
							<b>:help</b>
						</div>
						<div class="col-xs-9">
							Open the options page and show the help tab.
						</div>
					</div>
				</tab>
			</tabset>

		</div>
		<script type="text/javascript" src="scripts/lib.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</body>
</html>